.carousel-cell {
    margin-right: 300px;
    background-color: #110728ff;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and ( max-width: 580px ) {
    /* half-width cells for larger devices */
    .carousel-cell { 
      width: 115%;
      height: 800px;
    }
  }
  @media screen and (min-width: 600px){
    .carousel-cell{
      width: 200%;
      height: 900px;
    }
  }
/* no circle */
.flickity-button {
  background: transparent;
  width: 50px;
  height: 50px;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
/* icon color */
.flickity-button-icon {
  fill: white;
}
.flickity-button {
  background: #1c5d99ff;
  transform: scale(40%,40%);
  transition: all 300ms ease-in-out;
}
.flickity-button:hover {
  background: #ffca3aff;
  transition: all 300ms ease-in-out;
  transform: scale(45%,45%);
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
  /* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: .5rem;
  }